JWT_SECRET_KEY="my_secret"
PROPAGATE_EXCEPTIONS="True"
API_TITLE="Xfusion Rest API"
WEB_APP_NAME="Xfusion"
HOST="0.0.0.0"
WEB_PORT=5000
API_VERSION="1.0"
OPENAPI_VERSION="3.0.3"
OPENAPI_URL_PREFIX="/"
OPENAPI_SWAGGER_UI_PATH="/swagger-ui"
OPENAPI_SWAGGER_UI_URL="https://cdn.jsdelivr.net/npm/swagger-ui-dist/"
SQLALCHEMY_DATABASE_URI="sqlite:///data.db"
SQLALCHEMY_TRACK_MODIFICATION="False"
JWT_BLACKLIST_ENABLED='True'
JWT_BLACKLIST_TOKEN_CHECKS=['access', 'refresh']
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=flask_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
